* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-users-btn {
    padding: 12px 18px;
    font-size: 18px;
    background-color: #297aad;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.is-btn-loading {
    pointer-events: none;
    opacity: 0.8;
    cursor: not-allowed;
}

.is-btn-loading::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.is-btn-loading::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    height: 66%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    border-right: 4px solid #0000;
    border-left: 4px solid #0000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: btn-loading 1s infinite 0s linear;
    -webkit-animation: btn-loading 1s infinite 0s linear;
}

@keyframes btn-loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}